.gallery-view-container {
    background: var(--grain-bg);
    background-size: 300px 300px, auto, auto;
    background-repeat: repeat, no-repeat, no-repeat;

    header {
        margin: 0rem 5rem;

        .logo,
        .nav-button {
            color: #943c75 !important;
        }
    }
}

.gallery-image-container {
    min-height: calc(100dvh - 6rem);
    max-width: 100dvw;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0rem 1rem 1rem 1rem;

    .settings-container {
        flex-basis: 20%;
        padding: 0.5rem;
        max-height: 40rem;
        background-color: var(--bg-overlay);
        border-radius: 15px;
    }

    .tile-container {
        flex-basis: 80%;

        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        border-radius: 15px;

        .loading-screen {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;

            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 1.25rem;
            line-height: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }
}
