.image-background {
    background: url(../../images/Gallery/monument_night.jpg);
    background-size: cover;
    background-position: center 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    // width: calc(100dvw - 10rem);
    display: flex;
    flex-direction: column;
}

// LANDING

.landing {
    min-height: 80dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25rem;
}

.title-content {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
}

.title-paragraph {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
}

.title-stars {
    height: auto;
    width: fit-content;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

.gradient {
    background: url(../../images/Gradients/pink_grainy.png);
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// SHOWCASE
.showcase-container {
    width: 100%;
}

// ANIMATION
.showcase-animation {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.transition-wave {
    position: absolute;
    fill: none;
    width: 200%;
    stroke-width: 3px;
    stroke: #fcbadb;
    z-index: 1;
    animation: wave-animation linear 25s infinite;
}

.transition-wave-inner {
    position: absolute;
    fill: #ec81c7;
    stroke: #ec81c7;
    width: 200%;
    stroke-width: 3px;

    animation: wave-animation linear 25s infinite;
}

@keyframes wave-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-49.75%);
    }
}

// CONTENT

.showcase-content {
    width: 100%;
    height: 100%;
    background: url(../../images/decoration/grain.png),
        linear-gradient(180deg, #ec81c7 38.54%, #915dba 100%), lightgray;
    background-size: 300px 300px, auto, auto;
    background-repeat: repeat, no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    padding-bottom: 5rem;
}

.showcase-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .showcase-title {
        color: #943c75;
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-size: 5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
    .showcase-title-flair {
        fill: none;
        width: calc(100% + 4rem);
    }
}

.showcase-button {
    width: 13.875rem;
    padding: 0.75rem 0rem;
    border-radius: 0.625rem;
    background: #f6d4ea;

    color: #943c75;
    text-align: center;

    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

// footer

.footer-container {
    display: flex;
    flex-direction: row;

    p {
        font-family: "Rubik", sans-serif;
        color: white;
        opacity: 0.4;
    }
}
