.ImageItem-container {
    display: flex;
    align-items: center;
    gap: 3rem;

    .image {
        height: 350px;
        aspect-ratio: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        max-width: 750px;

        h1 {
            color: var(--pink-white);
            font-family: Rubik;
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 90%;
            align-self: stretch;
        }

        img {
            align-self: stretch;
        }

        p {
            color: var(--pink-dark);
            text-align: justify;
            font-size: 2rem;
            font-weight: 550;
            align-self: stretch;
            line-height: 130%;
        }
    }
}

@media screen and (max-width: 1184px) {
    .ImageItem-container {
        flex-direction: column;
        .image {
            height: 386px;
        }

        .content {
            max-width: 100%;
            text-align: center;
            h1 {
                font-size: 3rem;
            }
            img {
                width: 100%;
            }
            p {
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .ImageItem-container {
        .image {
            height: 100%;
        }

        .content {
            max-width: 100%;
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}
