.ImageItem-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: fit-content;
    gap: 1rem;

    .image-container {
        z-index: 0;
        img {
            width: 10rem;
            height: 10rem;
        }
    }

    .content-container {
        z-index: 1;
        display: flex;
        width: 40rem;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        .statistics-container {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            // border: red 3px solid;
            p {
                color: #f6d4ea;
                font-family: "Rubik", sans-serif;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }

            img {
                fill: #f6d4ea;
            }

            .statistic {
                display: flex;
                flex-direction: row;
                gap: 0.3rem;
            }
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }

        .title {
            color: #f6d4ea;
            font-family: "Rubik", sans-serif;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            // border: red 3px solid;
        }

        .title-flair {
            // border: red 3px solid;
            height: fit-content;
            flex-shrink: 0;
            stroke-width: 1px;
            stroke: #943c75;
            fill: #943c75;
        }

        .description {
            align-self: stretch;
            // border: red 3px solid;
            color: #943c75;
            text-align: justify;
            font-family: "Roboto", sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            margin-bottom: 1.25rem;
        }

        .full-button {
            border-radius: 0.3125rem;
            background: #f6d4ea;
            width: 8.5rem;
            height: 2.0625rem;
            flex-shrink: 0;
            color: #943c75;
            font-family: "Rubik", sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;

            border: none;
        }
    }
}

.stars-flair {
    height: auto;
    width: fit-content;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    transform: rotate(180deg);
    left: -50%;
}

@media screen and (max-width: 768px) {
    .ImageItem-container {
        flex-direction: column;
        align-items: center;

        .image-container {
            z-index: 0;
            width: 90%;
        }

        .content-container {
            width: 100dvw;
            display: flex;
            align-items: center;

            .title {
                font-size: 2rem;
                text-align: center;
            }
            .description {
                margin: 0rem 2rem;
            }
            .full-button {
                margin-top: 2rem;
                width: 15rem;
                height: 4rem;
                font-size: 2rem;
            }
        }
    }

    .stars-flair,
    .title-stars {
        display: none;
    }
}
