.statistics-wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0rem 1rem;
    align-self: stretch;
    flex-wrap: wrap;

    .statistic {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        img {
            height: 24px;
            width: 24px;
            align-self: center;
        }
        p {
            color: var(--pink-white);
            font-family: Rubik;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 1184px) {
    .statistics-wrapper {
        justify-content: center;
        .statistic {
            gap: 4px;
        }
    }
}

@media screen and (max-width: 430px) {
    .statistics-wrapper > .statistic {
        img {
            height: 16px;
            width: 16px;
        }
        p {
            font-size: 1.25rem;
        }
    }
}
