@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --white: white;
    --black: black;
    --ladning-title-img: url(./images/Gradients/pink_grainy.png);
    --grain-bg: url(./images/decoration/grain.png),
        linear-gradient(180deg, #ec81c7 40%, #915dba 100%);
    --inner-grain-bg: url(./images/decoration/grain.png),
        linear-gradient(180deg, #c54699 40%, #652f8f 100%);
    --grain-to-black: url(./images/decoration/grain-50.png),
        linear-gradient(180deg, rgba(72, 55, 184, 0.5), rgba(0, 0, 0, 0.5));
    --pink-white: #f6d4ea;
    --pink-dark: #7a3362;
    --input-pink: #c54699;
    --input-black: rgba(0, 0, 0, 0.3);

    --shine-dark: linear-gradient(
        90deg,
        var(--pink-dark),
        #b23889,
        var(--pink-dark)
    );

    --shine-light: linear-gradient(
        90deg,
        var(--pink-white),
        #ffa5df,
        var(--pink-white)
    );
}

/* defaults */
* {
    margin: 0px;
    min-width: 0;
    font-family: "Roboto Flex", sans-serif;
    color: var(--pink-white);
}

body {
    background-color: var(--black);
}

.content-margin {
    width: 90vw;
    margin: auto;
    /* border: #4937b8 3px solid; */
}

/* UNIVERSAL STYLES */

/* button */
.flex-button {
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 15px;
    background: var(--pink-white);

    color: var(--pink-dark);
    text-align: center;
    font-family: Rubik;
    font-size: 3rem;
    font-weight: 800;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 0px 100px 0px transparent;
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.flex-button:hover {
    box-shadow: 0px 0px 100px 0px var(--pink-white);
    color: var(--input-pink);
}

.flex-button:active {
    filter: brightness(0.7);
}

/* selector */
.flex-selector {
    position: relative;
    color: var(--pink-white);
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;

    /* butu forshi grain */
    background-color: var(--input-pink);
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    border: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url(./images/decoration/icons/selection.svg);
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: 1rem;

    max-width: 25rem;
    width: 100%;
    box-shadow: 0px 0px 40px 0px transparent;
    position: relative;
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.flex-selector:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    /* background-color: #a5337d;
    color: var(--white); */
    filter: brightness(1.1);
}

/* input */
.flex-input {
    display: flex;
    width: 25.75rem;
    padding: 0.75rem 1.25rem;
    align-items: center;
    gap: 0.25rem;
    border: none;
    border-radius: 10px;
    background: url(./images/decoration/grain-50.png), #943c75;
    min-width: 25.75rem;
    color: #f6d4ea;
    text-align: center;
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 800;
}

/* shine */
.shine-dark:hover {
    background: var(--shine-dark);
}

.shine-light:hover {
    background: var(--shine-light);
}

.text-shine:hover {
    background-size: 200% 100%;
    background-position: -100% center;
    transition: background-position 0.5s ease;
    animation: shine 1s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Add a keyframe animation to create a shimmering effect */
@keyframes shine {
    0% {
        background-position: -100% center;
    }
    100% {
        background-position: 100% center;
    }
}
