.admin-view-container {
    background: var(--grain-bg);
    background-size: 300px 300px, auto, auto;
    background-repeat: repeat, no-repeat, no-repeat;

    .nav-colors {
        color: var(--pink-dark);
    }

    .content {
        display: flex;
        flex-direction: row;
    }
}